/* =====================
   RESET
===================== */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* =====================
   BASE
===================== */
body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.wave{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* =====================
   LAYOUT
===================== */
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  padding: 0 2rem;
}


.img img{
  width: 500px;
}

.login-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* =====================
   FORM
===================== */
form{
  width: 360px;
  text-align: center;   /* ← ロゴ中央のため重要 */
}

/* ロゴ */
.c_logo{
  display: inline-block;
  margin: 20px 0;
}

.c_logo img{
  height: 160px;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* その他の画像（背景イラスト等） */
.login-content img:not(.logo-img){
  height: 100px;
}

/* =====================
   TITLE
===================== */
.login-content h2{
  margin: 15px 0;
  color: #555;
  text-transform: uppercase;
  font-size: 2.9rem;
}

/* =====================
   INPUT
===================== */
.login-content .input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
  margin-top: 0;
}

.i{
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div > div{
  position: relative;
  height: 45px;
}

.input-div > div > input{
  position: absolute;
  inset: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

.input-div.pass{
  margin-bottom: 4px;
}

/* =====================
   LINKS
===================== */
/* Forgot Password だけ右寄せ */
.forget a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
}

.forget a:hover{
  color: #38d39f;
}

/* =====================
   BUTTON
===================== */
.btn{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background-position: right;
}

/* =====================
   TEXT
===================== */
.account{
  margin: 15px 0;
  color: #555;
  font-size: 1rem;
}

.sign{
  margin: 15px 0;
  color: #555;
  font-size: 1rem;
}

/* =====================
   RESPONSIVE
===================== */
@media screen and (max-width: 1000px){
  form{
    width: 290px;
  }

  .img img{
    width: 400px;
  }
}

@media screen and (max-width: 900px){
  .container{
    grid-template-columns: 1fr;
  }

  .img,
  .wave{
    display: none;
  }

  .login-content{
    justify-content: center;
  }
}

@media screen and (max-width: 480px){
  body{
    overflow: auto;
  }

  .container{
    height: auto;
    min-height: 100vh;
    padding: 0 1rem;
    gap: 2rem;
  }

  .login-content{
    justify-content: center;
    padding: 1.5rem 0;
  }

  form{
    width: 100%;
    max-width: 360px;
  }

  .c_logo img{
    height: 120px;
  }
}

.sign a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #555;         
  font-size: 0.9rem;
  transition: .3s;
}

.sign a:hover{
  color: #38d39f;      
}

.img{
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;           
  overflow: hidden;
}




